*{
    font-family: 'Poppins', sans-serif;
    line-height: 2.5em;
    
}
header{
    height: 50px;
    padding: 10px;
    background-color: rgb(236, 124, 31);
    display: flex;
}
header ul{
    margin-left:300px; 
    width: 70%;
    display: flex;
    padding: 10px;
    margin: 10px;
}
header ul li{
    list-style: none;
    margin: 10px;
}
header ul li a{
    text-decoration: none;
}
body{
    background-image: url("/images/Africa-Culture.jpg");
}
.container{
    margin: auto;
    margin-top:50px;
    padding: 10px;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
}
h1{
    font-family: 'Pacifico', cursive;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    margin-bottom: 0px;
}
footer p{
    margin-right: 500px;
}

.fa {
    padding: 10px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-youtube {
    color: rgb(235, 15, 15);
  }
  .fa-facebook {
    color: rgb(0, 108, 250);
  }
  .fa-youtube {
    color: rgb(235, 15, 15);
  }