*{
    font-family: 'Sofadi One', cursive;
    line-height: 2.5em;
    background-image: url("/images/Africa-Culture.jpg");
}
.container{
    margin: auto;
    margin-top:50px;
    padding: 10px;
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
}
h1{
    font-family: 'Pacifico', cursive;
}